@model Diplom.Models.Menu
@using Diplom.Controllers

@{
    var users = TempData["users"] as IEnumerable<MenusController.SelectOptions>;
}
<h4>Создание</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="date" class="control-label">Дата</label>
                <input asp-for="date" type="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChildHouse" class="control-label">Кому</label>
                <select class="form-control" asp-for="ChildHouse">
                    <option value="Сад">Сад</option>
                    <option value="Ясли">Ясли</option>
                </select>
                <span asp-validation-for="ChildHouse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChildCount" class="control-label">Количество детей</label>
                <input asp-for="ChildCount" type="text" class="form-control" />
                <span asp-validation-for="ChildCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUser" class="control-label">Пользователь</label>
                @if (users != null && users.Any())
                {
                    <select class="form-control" asp-for="IdUser">
                        @foreach (var item in users)
                        {
                            <option value="@item.value">@item.Fn @item.Ln</option>
                        }
                    </select>
                }
                else
                {
                    <p class="text-danger">Нет пользователей с ролью медика.</p>
                }
            </div>
            <div class="form-group" style="display:flex">
                <div>
                    <input type="submit" value="Сохранить" class="btn btn-primary" @((users == null || users.Count() == 0) ? "disabled" : "") />
                </div>
                <div>
                    <a asp-action="Index" class="btn">
                        <i class="bi bi-arrow-return-left"></i>
                        Вернуться
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

