<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>
<div style="display: flex" class="hedder">
    <div>
        <p class="text_1"><h1>Учет записей <br> Детского сада</h1></p>
        <p class="text_2"><h5>Веб-приложение для <br> отслеживания записей</h5></p>
    </div>
    <div style="margin-left: auto">
        <img src="~/img/image_1.png" />
    </div>
</div>