@model Diplom.Models.PreviousBalance

<h4>Редактировать</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@Model.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdFood" />
            <input type="hidden" asp-for="IdVaultNote" />
            
            <div class="form-group">
                <label asp-for="StartBalance" class="control-label">Начальный остаток</label>
                <input asp-for="StartBalance" type="number" class="form-control" />
                <span asp-validation-for="StartBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input asp-for="EndBalance" type="hidden" class="form-control" />
                <span asp-validation-for="EndBalance" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:flex">
                <div>
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                </div>
                <div>
                    <a asp-action="Index" class="btn" asp-route-idVaultNote="@Model.IdVaultNote"><i class="bi bi-arrow-return-left"></i>Вернуться</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

